<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, IE=edge" >
  <title>Quizzy - Quiz</title>
   <!-- SCRIPTS-->

   <script src="/vendor/jquery-3.0.0.js"></script>
  </head>
  <!--This page shows the quiz and will alow you to take it.-->>
  <body>
  <%- include('partials/_header') %>
    <main>

    <div class="quiz_details">
      <h1><%= quiz.title %></h1>
      <p class="author">By <%= quiz.author%></p>
      <p class="description"><%= quiz.description %></p>
    </div>

    <div class="quiz_container" data-id="<%= quiz.id %>">

      <% for (let question in quiz.questions) { %>

        <article class="question_card">

          <header><p><%= question %>. <%= quiz.questions[question].text %></p></header>

          <ul>
            <% for (let answer of quiz.questions[question].answers) { %>

              <li>
                <input type="radio" name="<%= question %>" data-id="<%= answer.id %>">
                <%= answer.text %>
              </li>

            <% } %>
          </ul>

        </article>
      <% } %>
    </div>

    <div class="footer_quiz">
      <button id="submit_quiz" class="submit_quiz"> Submit </button>
    </div>

    </main>
  </body>
</html>
